/* Global Styles & Colors */
:root {
    --orange: #FB6523;
    --yellow: #D99733;
    --blue: #43748E;
    --lightBlue: #b7c9e2;
    --darkGray: #373A37;
    --lightGray: #D7DAD7;
    --white: #FBFDFB;
    --black: #212121;
    --green: #205E2E;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    --header-height: 50px;
    --keyboard-height: 200px;
    --footer-height: 60px; 
}

body {
color: var(--yellow);
background-color: var(--blue);
}

html, body {
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
}

p {
color: var(--darkGray);
}

h3 {
color: var(--yellow);
}

h1 {
    color: white;
    text-shadow: black 0px 0px 4px; /* color offset-x offset-y blur-radius */
    text-align: center;
}

/* footer */

.footer-copyright {
    background-color: var(--darkGray);
    color: white;
    height: var(--footer-height);
}

.page-footer {
padding-bottom: 10px;
}

/* settings for each full viewport panel on page */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    scroll-snap-align: start;
    position: relative;
}

#map-section {
    height: calc(100vh - var(--footer-height));
}

/* Intro section */
#intro-section { 
    min-height: 100vh; /* Set minimum height to full viewport height */
    background-color: var(--lightGray);
}

#second-section { 
    min-height: 100vh; /* Set minimum height to full viewport height */
    background-color: var(--yellow);
    color: var(--white);
}

/* map */

#main-container {
    display: flex; /* Use flexbox to arrange sidebar and content */
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  
#map-container {
    box-sizing: border-box; /* Include padding and border in the element's width */
    flex: 0 0 77.2%; /* Flex grow, flex shrink, flex basis – doesn't grow or shrink, starts at 80% of the container width */
    text-align: center; /* Center content within map container */
    margin-top: 0; /* Ensure there's no gap on top */
    padding: 0; /* Remove to prevent any internal gaps */
}
  
.container {
    padding: 0;
}

.map {
    margin-top: -50px;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
        
.state {
    fill: var(--white);
    stroke: var(--black);
    cursor: pointer;
}

.state:hover {
    fill: var(--yellow);
}

.state-selected {
    fill: var(--yellow);
}

/* Sidebar */

#sidebar {
    box-sizing: border-box; /* Include padding and border in the element's width */
    background: var(--white); /* White background */
    border-left: 1px solid #ddd; /* Light gray border */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Slight shadow on the left edge */
    transition: right 0.3s;
    z-index: 1000; /* Ensure the sidebar is above other content */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    flex: 0 0 25%; /* Sidebar takes up 20% of the container width */
    position: sticky; 
    top: 0; /* Stick to the top of the viewport */
    right: 0;
    overflow-y: auto; /* Enables scrolling for the sidebar */
    margin: 0; /* Ensure there's no gap on top */
    padding: 0; 
    max-width: 100%;
    height: calc(100vh - var(--footer-height)); /* Adjusted for the footer */
  }
  

/* Main content area of sidebar */
#sidebar-content {
    flex-grow: 1; /* Fill the remaining space */
    padding: 1rem;
    overflow-y: auto; /* Make the content scrollable */
}

/* Content within the sidebar */
#sidebar-header {
    padding: 1rem; /* Bootstrap-style padding */
    font-size: 1.5rem; 
    background-color: var(--darkGray); 
    color: var(--white);
    border-bottom: 1px solid var(--darkGray); /* Separator */
}

#sidebar-title {
    font-size: 1.5rem;
}

.metric {
    background-color: null;
}

.section-title {
    font-size: 1.5rem;
    color: var(--darkGray);
    display: flex;          /* Establish flexbox layout */
    align-items: center;    /* Vertically center the items */
    justify-content: space-between; /* Space between left-aligned title and right-aligned button */
    padding: 0.5rem;    /* Optional padding if needed on the right */
    /* border-bottom:  1px solid var(--darkGray); */
    margin-bottom: 5px;
    height: 50px;
}

.section-title-bg {
    background-color: var(--lightGray);
}

.row {
    margin-top: 3px;
}

.full-fact {
    color: var(--darkGray);
}

/* Modals (popups) */

/* button to open modal (? buttons) */
.help-button:hover, #data-modal-btn:hover {
    background-color: var(--yellow);
}

.help-button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--lightBlue);
}

/* data footnote buttom */
#data-modal-btn {
    background-color: var(--lightBlue);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #report-card {
    display: none;
  }

  /* Arrow to scroll between sections */
  .scroll-down-arrow {
    position: absolute;
    bottom: 25px; /* Distance from the bottom */
    right: 25px; /* Distance from the right */
    font-size: 2rem; /* Size of the arrow */
    color: var(--darkGray); /* Color of the arrow */
    z-index: 10; /* Ensure it's above other content */
    animation: bounce 2s infinite; /* Apply the bouncing animation */
  }

  .scroll-down-arrow:hover{
    color: var(--white);
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  /* Citations */

  .citation:hover {
    color: var(--orange)
  }

  .citation {
    color: var(--yellow)
  }