/* Global Styles & Colors */
:root {
    --orange: #FB6523;
    --yellow: #D99733;
    --blue: #43748E;
    --lightBlue: #b7c9e2;
    --darkGray: #373A37;
    --lightGray: #D7DAD7;
    --white: #FBFDFB;
    --black: #212121;
    --green: #205E2E;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    --header-height: 50px;
    --keyboard-height: 200px;
}

body {
color: var(--yellow);
background-color: var(--blue);
}

p {
color: var(--darkGray);
}

h3 {
color: var(--yellow);
}

h1 {
    color: white;
    text-shadow: black 0px 0px 4px; /* color offset-x offset-y blur-radius */
    text-align: center;
}

/* footer */

.footer-copyright {
background-color: var(--darkGray);
color: white;
}

.page-footer {
padding-top: 30px;
padding-bottom: 0px;
}

/* map */

/* Styles for the main container that holds both the sidebar and the map */
#main-container {
    /* justify-content: center; Horizontally centers the child elements (including #container) */
    align-items: start;      /* Aligns children to the start of the cross axis - top in this case */
    height: 100vh;           /* Set to the full height of the viewport */
  }

#map-container {
    /* display: flex; */
    width: 100%; /* Take the full width */
    height: 500px; /* Set a fixed height for the map */
}

.map {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 500px;
}
        
.state {
    fill: var(--white);
    stroke: var(--black);
    cursor: pointer;
}

.state:hover {
    fill: var(--yellow);
}

.state-selected {
    fill: var(--yellow);
}

/* Sidebar */

#sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Start hidden off-screen */
    width: 300px;
    height: 100%;
    background: var(--white); /* White background */
    border-left: 1px solid #ddd; /* Light gray border */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Slight shadow on the left edge */
    transition: right 0.3s;
    z-index: 1000; /* Ensure the sidebar is above other content */
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

/* Main content area of sidebar */
#sidebar-content {
    flex-grow: 1; /* Fill the remaining space */
    padding: 1rem;
    overflow-y: auto; /* Make the content scrollable */
}

/* Content within the sidebar */
#sidebar-header {
    padding: 1rem; /* Bootstrap-style padding */
    font-size: 1.5rem; 
    background-color: var(--yellow); 
    color: var(--darkGray);
    border-bottom: 1px solid var(--darkGray); /* Separator */
}

#sidebar-title {
    font-size: 1.5rem;
}

.section-title {
    font-size: 1.3rem;
    color: var(--darkGray);
    display: flex;          /* Establish flexbox layout */
    align-items: center;    /* Vertically center the items */
    justify-content: space-between; /* Space between left-aligned title and right-aligned button */
    padding-right: 1rem;    /* Optional padding if needed on the right */
}

.section-title-bg {
    background-color: var(--lightGray);
}

.full-fact {
    color: var(--darkGray);
}

/* Modals (popups) */

/* button to open modal (? buttons) */
.help-button:hover, #data-modal-btn:hover {
    background-color: var(--yellow);
}

.help-button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--lightBlue);
}

/* data footnote buttom */
#data-modal-btn {
    background-color: var(--lightBlue);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }