/* Global Styles & Colors */
:root {
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --darkendYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
    --darkGray: #434548;
    --white: #fff;
    --black: #212121;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    --header-height: 50px;
    --keyboard-height: 200px;
}

body {
color: var(--orange);
background-color: var(--darkGray);
}

p {
color: black;
}

h3, h1 {
color: lightgreen;
}

h1 {
text-align: center;
}

/* footer */

.footer-copyright {
background-color: var(--darkGray);
color: white;
}

.page-footer {
padding-top: 30px;
}

/* map */

#container {
    width: calc(100% - 300px); /* Leave space for the sidebar when it's open */
    height: 500px; /* Set the height for the map container */
}

.map {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
        
.state {
    fill: var(--lightGray);
    stroke: white;
    cursor: pointer;
}

.state:hover {
    fill: orange;
}

/* Sidebar */

#sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Start hidden off-screen */
    width: 300px;
    height: 100%;
    background: #ffffff; /* White background */
    border-left: 1px solid #ddd; /* Light gray border */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Slight shadow on the left edge */
    transition: right 0.3s;
    z-index: 1000; /* Ensure the sidebar is above other content */
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

/* Content within the sidebar */
#sidebar-header {
    padding: 1rem; /* Bootstrap-style padding */
    background-color: #f7f7f7; /* Light gray background for the header */
    border-bottom: 1px solid #ddd; /* Separator */
}

/* Main content area of sidebar */
#sidebar-content {
    flex-grow: 1; /* Fill the remaining space */
    padding: 1rem;
    overflow-y: auto; /* Make the content scrollable */
}

/* Close button */
#close-sidebar {
    padding: 0.5rem 1rem;
    font-size: 1.5rem; /* Larger click area for better usability */
    color: #333;
    background: #e9ecef; /* Bootstrap gray background */
    text-align: right; /* Align the 'close' text to the right */
    border-top: 1px solid #ddd; /* Separator */
}