/* Global Styles & Colors */
:root {
    --orange: #FB6523;
    --yellow: #D99733;
    --blue: #43748E;
    --darkGray: #373A37;
    --lightGray: #D7DAD7;
    --white: #FBFDFB;
    --black: #212121;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    --header-height: 50px;
    --keyboard-height: 200px;
}

body {
color: var(--yellow);
background-color: var(--blue);
}

p {
color: var(--darkGray);
}

h3 {
color: var(--yellow);
}

h1 {
    color: white;
    text-shadow: black 0px 0px 4px; /* color offset-x offset-y blur-radius */
    text-align: center;
}

/* footer */

.footer-copyright {
background-color: var(--darkGray);
color: white;
}

.page-footer {
padding-top: 30px;
padding-bottom: 0px;
}

/* map */

/* Styles for the main container that holds both the sidebar and the map */
#main-container {
    display: flex;
    height: 100%;
  }
  
  #map-container {
    flex-grow: 1; /* Map should take the remaining space */
    /* If your map-container directly contains your SVG, you may not need this */
  }
  
  .map {
    width: 100%;
    height: 100%;
  }
        
.state {
    fill: var(--white);
    stroke: var(--black);
    cursor: pointer;
}

.state:hover {
    fill: var(--yellow);
}

.state-selected {
    fill: var(--yellow);
}

/* Sidebar */

#sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Start hidden off-screen */
    width: 300px;
    height: 100%;
    background: var(--white); /* White background */
    border-left: 1px solid #ddd; /* Light gray border */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Slight shadow on the left edge */
    transition: right 0.3s;
    z-index: 1000; /* Ensure the sidebar is above other content */
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

/* Main content area of sidebar */
#sidebar-content {
    flex-grow: 1; /* Fill the remaining space */
    padding: 1rem;
    overflow-y: auto; /* Make the content scrollable */
}

/* Close button */
#close-sidebar {
    padding: 0.5rem 1rem;
    font-size: 1.5rem; /* Larger click area for better usability */
    color: var(--darkGray);
    background: var(--lightGray); 
    text-align: right; /* Align the 'close' text to the right */
    border-top: 1px solid #ddd; /* Separator */
}

/* Content within the sidebar */
#sidebar-header {
    padding: 1rem; /* Bootstrap-style padding */
    font-size: 1.5rem; 
    background-color: var(--yellow); 
    color: var(--darkGray);
    border-bottom: 1px solid var(--darkGray); /* Separator */
}