<section id="intro-section">
    <div class = "intro-text">
        <h1>Atlas of Administrative Burden</h1>
        <br>
        <p>
            Welcome to our online resource designed to explain the concept 
            of administrative burden — a large hurdle woven into the 
            fabric of social welfare systems. With this user-friendly web tool, gain 
            valuable insights into what constitutes administrative burden, 
            understand its significance, and explore the ways in which social 
            support programs improve our nation.
        </p>
        <br>
        <p>
            Engage with our interactive map, 
            which offers an inventory of the administrative burdens associated 
            with Medicaid, SNAP, and TANF. Bridge the gap between policy and 
            its real-world implications, enhancing your awareness and contributing 
            to a more informed community.
        </p>
        <br>
        <p>
            Scroll down to learn more. 
        </p>
    </div>
    <!-- Bouncing arrow pointing to the second section -->
    <a href="#second-section" class="scroll-down-arrow" aria-label="Scroll down to the second section">
        <i class="fas fa-chevron-down"></i>
    </a>
</section>