<!-- Medicaid -->
<div id="Medicaid-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>About Medicaid</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>
          Medicaid is a health care program that is federally mandated but 
          state run for low-income families and low-income disabled and elderly
          <a href="#" data-toggle="tooltip" title="Gruber, page 562" class="citation">[1]</a>. 
          Eligibility is determined based on income and family structure. 
          The program is federally funded through matching grants, and there 
          are federal mandates for minimum eligibility and service coverage. 
          States are permitted to administer their programs to increase eligibility 
          and increase coverage, so there is a wide variation in Medicaid design 
          <a href="#" data-toggle="tooltip" title="https://www.cbpp.org/research/policy-basics-introduction-to-medicaid#:~:text=Each%20state%20operates%20its%20own,widely%20from%20state%20to%20state" class="citation">[2]</a>.
          Medicaid is the single largest source of health coverage in the United 
          States with 77.9 million individuals covered 
          <a href="#" data-toggle="tooltip" title="https://www.medicaid.gov/medicaid/eligibility/index.html" class="citation">[3]</a>.
        </p>
      </div>
    </div>
  
</div>

<!-- TANF -->
<div id="TANF-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>Temporary Assistance for Needy Families (TANF)</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>
          TANF is a cash welfare program that is federally funded but state run 
          for low-income families with children
          <a href="#" data-toggle="tooltip" title="Gruber, page 610" class="citation">[1]</a>.
           Eligibility is determined by income 
          thresholds set by each state
          <a href="#" data-toggle="tooltip" title="https://www.cbpp.org/research/family-income-support/policy-basics-an-introduction-to-tanf" class="citation">[2]</a>.
           The program is jointly funded through federal 
          block grants and state maintenance of effort contributions. There are 
          federal mandates for time restrictions and work requirements. States are 
          permitted to design their own programs, so there is a wide variation in what 
          type of support and amount of support provided. An estimated 2.8 million 
          people receive assistance in 2023
          <a href="#" data-toggle="tooltip" title="https://sgp.fas.org/crs/misc/RL32760.pdf" class="citation">[3]</a>.
        </p>
      </div>
    </div>
  
</div>

<!-- SNAP -->
<div id="SNAP-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>Supplemental Nutrition Assistance Program (SNAP)</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>
          SNAP is an in-kind program that provides nutritional support for low-income 
          individuals. Eligibility is determined by state cash welfare programs like 
          TANF or by monthly cash income
          <a href="#" data-toggle="tooltip" title="Gruber, page 612" class="citation">[1]</a>. 
          The program is federally funded but administered 
          by the state
          <a href="#" data-toggle="tooltip" title="https://www.cbpp.org/research/policy-basics-the-supplemental-nutrition-assistance-program-snap" class="citation">[2]</a>. 
          The federal government sets eligibility limits and benefit levels, 
          so there is little variation between states. States do design the application 
          process with federal guidelines, so there is variation in the application
          <a href="#" data-toggle="tooltip" title=" https://www.cbpp.org/research/policy-basics-the-supplemental-nutrition-assistance-program-snap" class="citation">[3]</a>. 
          SNAP is the largest anti-hunger program with an estimated 38 million recipients
          <a href="#" data-toggle="tooltip" title="https://www.cbpp.org/research/a-closer-look-at-who-benefits-from-snap-state-by-state-fact-sheets#Alabama " class="citation">[4]</a>.
        </p>
      </div>
    </div>
  
</div>

<!-- Data footnotes -->
<div id="data-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>Data footnotes</h3>
        <span class="close">&times;</span>
      </div>
      <!-- Fact Row -->
      <div class="row no-gutters border-bottom">
        <div class="col-12 full-fact p-3"> 
            Medicaid data source: 
            <a href = "#" class="source" id="m-source">None</a>
        </div>
        </div>
    
        <!-- Fact Row -->
      <div class="row no-gutters border-bottom">
        <div class="col-12 full-fact p-3"> 
            TANF data source: 
            <a href = "#" class="source" id="t-source">None</a>
        </div>
        </div>
              
        <!-- Fact Row -->
      <div class="row no-gutters border-bottom">
        <div class="col-12 full-fact p-3"> 
            SNAP data source: 
            <a href = "#" class="source" id="s-source">None</a>
        </div>
        </div>
    </div>
  
</div>
