
<!-- Sidebar (20%) -->
<div id="sidebar" class="sidebar d-flex flex-column">
    <div id="sidebar-header">
        <h2 id="sidebar-title" class="h5">Welcome to the Atlas</h2>
    </div>
    <div id="sidebar-content">

    <div id="Welcome">
        <p>
            Click on a state to view its administrative burden report card.
        </p>
    </div>

    <div id="report-card">
    <div id="Medicaid">
        <div class="section-title-bg pl-1 mt-2">
            <h3 class="section-title py-2 m-0">
                Medicaid 
                <button id="Medicaid-modal-btn" class="help-button">i</button>
            </h3>
        </div>

                <!-- Fact Row -->
                <div class="row no-gutters border-bottom" id="M1">
                    <div class="col-12 full-fact p-3"> 
                        Take-up rate: 
                        <strong class="metric" id="m-takeup-rate">Unknown</strong>
                    </div>
                </div>
                
                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="M2">
                    <div class="col-12 full-fact p-3"> 
                        Time needed to complete application: 
                        <strong id="m-time-minutes">
                            <span class="metric" id="m-time">placeholder</span> minutes
                        </strong>
                    </div>
                </div>

                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="M3">
                    <div class="col-12 full-fact p-3"> 
                        Online application: 
                        <strong class="metric" id="m-online">placeholder</strong>
                    </div>
                </div>

                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="M4">
                    <div class="col-12 full-fact p-3"> 
                        Mobile accessible: 
                        <strong class="metric" id="m-mobile">placeholder</strong>
                    </div>
                </div>

                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="M5">
                    <div class="col-12 full-fact p-3"> 
                        Integration with other state benefits programs: 
                        <strong class="metric" id="m-integrated">placeholder</strong>
                    </div>
                </div>
            </div>

    <div id="TANF">
        <div class="section-title-bg pl-1 mt-2">
            <h3 class="section-title py-2 m-0">
                TANF
                <button id="TANF-modal-btn" class="help-button">i</button>
            </h3>
        </div>

                <!-- Fact Row -->
                <div class="row no-gutters border-bottom" id="T1">
                    <div class="col-12 full-fact p-3"> 
                        Take-up rate: 
                        <strong class="metric" id="t-takeup-rate">Unknown</strong>
                    </div>
                </div>
                
                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="T2">
                    <div class="col-12 full-fact p-3"> 
                        Time needed to complete application: 
                        <strong id="t-time-minutes">
                            <span class="metric" id="t-time"></span> minutes
                        </strong>
                    </div>
                </div>

                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="T3">
                    <div class="col-12 full-fact p-3"> 
                        Online application: 
                        <strong class="metric" id="t-online"></strong>
                    </div>
                </div>

                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="T4">
                    <div class="col-12 full-fact p-3"> 
                        Mobile accessible: 
                        <strong class="metric" id="t-mobile"></strong>
                    </div>
                </div>

                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="T5">
                    <div class="col-12 full-fact p-3"> 
                        Integration with other state benefits programs: 
                        <strong class="metric" id="t-integrated"></strong>
                    </div>
                </div>

            </div>

    <div id="SNAP">
        <div class="section-title-bg pl-1 mt-2">
            <h3 class="section-title py-2 m-0">
                SNAP
                <button id="SNAP-modal-btn" class="help-button">i</button>
            </h3>
        </div>

                <!-- Fact Row -->
                <!-- <div class="row no-gutters border-bottom">
                    <div class="col-12 full-fact p-3"> 
                        Take-up rate: 
                        <span class="metric" id="s-takeup-rate">Unknown</span>
                    </div>
                </div> -->
                
                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="S2">
                    <div class="col-12 full-fact p-3"> 
                        Time needed to complete application: 
                        <strong id="s-time-minutes">
                            <span class="metric" id="s-time">placeholder</span> minutes
                        </strong>                    
                    </div>
                </div>

                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="S3">
                    <div class="col-12 full-fact p-3"> 
                        Online application: 
                        <strong class="metric" id="s-online">placeholder</strong>
                    </div>
                </div>

                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="S4">
                    <div class="col-12 full-fact p-3"> 
                        Mobile accessible: 
                        <strong class="metric" id="s-mobile">placeholder</strong>
                    </div>
                </div>

                <!-- Fact Row --> 
                <div class="row no-gutters border-bottom" id="S5">
                    <div class="col-12 full-fact p-3"> 
                        Integration with other state benefits programs: 
                        <strong class="metric" id="s-integrated">placeholder</strong>
                    </div>
                </div>

            </div>

    <div id="sidebar-footer">
        <p>
            * = This time estimate is for an integrated benefits application
        </p>

        <button id="data-modal-btn">
            View data notes for 
            <span class = "metric" id="stateID"></span>
        </button>

</div>
    </div>
</div>
</div>