<!-- Medicaid -->
<div id="Medicaid-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>About Medicaid</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>More text...</p>
      </div>
    </div>
  
</div>

<!-- TANF -->
<div id="TANF-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>About TANF</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>More text...</p>
      </div>
    </div>
  
</div>

<!-- SNAP -->
<div id="SNAP-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>About SNAP</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>More text...</p>
      </div>
    </div>
  
</div>

<!-- Data footnotes -->
<div id="data-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>Data footnotes</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>Notes on the data...</p>
      </div>
    </div>
  
</div>
