<!-- Medicaid -->
<div id="Medicaid-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>About Medicaid</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>More text...</p>
      </div>
    </div>
  
</div>

<!-- TANF -->
<div id="TANF-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>About TANF</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>More text...</p>
      </div>
    </div>
  
</div>

<!-- SNAP -->
<div id="SNAP-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>About SNAP</h3>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>More text...</p>
      </div>
    </div>
  
</div>

<!-- Data footnotes -->
<div id="data-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3>Data footnotes</h3>
        <span class="close">&times;</span>
      </div>
      <!-- Fact Row -->
      <div class="row no-gutters border-bottom">
        <div class="col-12 full-fact p-3"> 
            Medicaid data source: 
            <a href = "#" class="source" id="m-source">None</a>
        </div>
        </div>
    
        <!-- Fact Row -->
      <div class="row no-gutters border-bottom">
        <div class="col-12 full-fact p-3"> 
            TANF data source: 
            <a href = "#" class="source" id="t-source">None</a>
        </div>
        </div>
              
        <!-- Fact Row -->
      <div class="row no-gutters border-bottom">
        <div class="col-12 full-fact p-3"> 
            SNAP data source: 
            <a href = "#" class="source" id="s-source">None</a>
        </div>
        </div>
    </div>
  
</div>
